.form {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 5px;
  width: 400px;
  padding: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.input_form {
  padding: 8px 16px;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 20px;
  border: 2px solid gray;
}
